// extends: incluye otra vista
extends ./layout1.jade
block contenido
  h1 Bienvenidos a FotoFacilito
  a(href="/login") Iniciar sesión 
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
  a(href="/signup") Registro
