doctype html
html(lang="esp")
  head
    title FotoFacilito
    meta(charset="utf-8")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
  body
    // Bloque dinamico 
    block contenido
